<p>CADASTRO USUÁRIO</p>


<div>
    <form #loginForm="ngForm"(ngSubmit)="Cadastro()" >
    <label for="">Nome:</label>
    <input  type="text" name="nome" [(ngModel)]="login.nome"  #Nome="ngModel" >
    <label for="">Email:</label>
    <input type="text" name="email"[(ngModel)]="login.email" #Email="ngModel"  >
    <label for="">Data de nascimento:</label>
    <input  type="text" name="dataNasc" [(ngModel)]="login.dataNasc"  #Dn="ngModel" >
    <label for="">Senha:</label>
    <input type="text" name="senha" [(ngModel)]="login.senha" #Senha="ngModel" >
    <label for="">Confirmar senha:</label>
    <input type="text" name="ConfirmaSenha" [(ngModel)]="login.ConfirmaSenha" #ConfirmaSenha="ngModel" >
   
     <button type="submit"> Cadastrar </button>
    </form>
</div>


<!--<button (click)="Cadastro()">Cadastrar</button> -->

<button (click)="Voltar()">Voltar</button>

