<p>Bem vindo</p>

<ul>
  <li class="card" *ngFor="let atividade of listarecuperada">
    <p>
      <span>{{ atividade.ativ }}</span>
    </p>
    <p>
      <span>{{ atividade.data }}</span>
    </p>
  </li>

  <div class="card flex justify-content-center">
    <p-button
      (click)="showDialog()"
      icon="pi pi-external-link"
      label="Adicionar atividade"
    ></p-button>
    <p-dialog
      header="Adicionar Atividade"
      [(visible)]="visible"
      [style]="{ width: '40vw', height: '80vh' }"
    >
      <p>
        <p-dropdown
          [options]="atividades"
          [(ngModel)]="atividadeSelecionada"
          optionLabel="name"
          [showClear]="true"
          placeholder="Selecione a atividade"
        ></p-dropdown>
      </p>
      <div class="card flex justify-content-center">
        <p-calendar [(ngModel)]="date" dateFormat="dd.mm.yy"></p-calendar>
      </div>
      <p-button
        [style]="{ padding: '10px', margin: '10px' }"
        (click)="salvarLocal()"
        icon="pi pi-external-link"
        label="Salvar"
      ></p-button>
    </p-dialog>
  </div>
</ul>
